node-red/flows.json
[
    {
        "id": "e174bcfe10e8a036",
        "type": "tab",
        "label": "mqtt",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "657bf0d68b0f626a",
        "type": "ui_button",
        "z": "e174bcfe10e8a036",
        "name": "",
        "group": "25c124dbc61aecaa",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "START",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "START",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 60,
        "y": 700,
        "wires": [
            [
                "45f9bd68d611011e",
                "7eab207b057d8c2e"
            ]
        ]
    },
    {
        "id": "9016cfc3a5c55c2b",
        "type": "ui_button",
        "z": "e174bcfe10e8a036",
        "name": "",
        "group": "25c124dbc61aecaa",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "STOP",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "STOP",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 50,
        "y": 740,
        "wires": [
            [
                "45f9bd68d611011e",
                "7eab207b057d8c2e"
            ]
        ]
    },
    {
        "id": "6562e27c3601b9ce",
        "type": "ui_text",
        "z": "e174bcfe10e8a036",
        "group": "2141de946bbe142d",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "System Run",
        "format": "{{msg.payload ? \"🟢 RUNNING\" : \"🔴 STOPPED\"}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 550,
        "y": 700,
        "wires": []
    },
    {
        "id": "d10e7ecd2ebc087d",
        "type": "ui_text",
        "z": "e174bcfe10e8a036",
        "group": "2141de946bbe142d",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sensor",
        "format": "{{msg.payload ? \"🔵 DETECTED\" : \"⚪ CLEAR\"}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 540,
        "y": 780,
        "wires": []
    },
    {
        "id": "17d543c24b674d46",
        "type": "ui_text",
        "z": "e174bcfe10e8a036",
        "group": "2141de946bbe142d",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sorting",
        "format": "{{msg.payload ? \"🟡 ACTIVE\" : \"⚪ IDLE\"}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 540,
        "y": 820,
        "wires": []
    },
    {
        "id": "983cf0ce2d3278b7",
        "type": "ui_text",
        "z": "e174bcfe10e8a036",
        "group": "2141de946bbe142d",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sorter",
        "format": "{{msg.payload ? \"🟠 EXTENDED\" : \"⚪ RETRACTED\"}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 530,
        "y": 860,
        "wires": []
    },
    {
        "id": "b9bf6c07b9922101",
        "type": "ui_switch",
        "z": "e174bcfe10e8a036",
        "name": "",
        "label": "Sensor",
        "tooltip": "",
        "group": "25c124dbc61aecaa",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 60,
        "y": 780,
        "wires": [
            [
                "45f9bd68d611011e",
                "7eab207b057d8c2e",
                "17d543c24b674d46",
                "c46b46f52a04886f"
            ]
        ]
    },
    {
        "id": "d56608a4af99f4af",
        "type": "ui_button",
        "z": "e174bcfe10e8a036",
        "name": "",
        "group": "25c124dbc61aecaa",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "RESET",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "RESET",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 820,
        "wires": [
            [
                "45f9bd68d611011e",
                "7eab207b057d8c2e"
            ]
        ]
    },
    {
        "id": "45f9bd68d611011e",
        "type": "function",
        "z": "e174bcfe10e8a036",
        "name": "Machine controller",
        "func": "if (msg.payload === \"START\") {\n    return [\n        { payload: true },   // System Run\n        { payload: true },   // Motor\n        null,\n        null,\n        null\n    ];\n}\n\nif (msg.payload === \"STOP\") {\n    return [\n        { payload: false },  // System Run\n        { payload: false },  // Motor\n        { payload: false },  // Sensor\n        { payload: false },  // Sorting\n        { payload: false }   // Sorter\n    ];\n}\n\nif (msg.payload === \"RESET\") {\n    return [\n        { payload: false },\n        { payload: false },\n        { payload: false },\n        { payload: false },\n        { payload: false }\n    ];\n}\n\nif (msg.payload === true) {\n    return [\n        null,\n        null,\n        { payload: true },   // Sensor\n        null,\n        null\n    ];\n}\n\nif (msg.payload === false) {\n    return [\n        null,\n        null,\n        { payload: false },  // Sensor\n        null,\n        null\n    ];\n}\n\nreturn null;",
        "outputs": 5,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 740,
        "wires": [
            [
                "6562e27c3601b9ce",
                "7eab207b057d8c2e"
            ],
            [
                "eff0a9146dc7e1d8"
            ],
            [
                "d10e7ecd2ebc087d"
            ],
            [
                "17d543c24b674d46"
            ],
            [
                "983cf0ce2d3278b7"
            ]
        ]
    },
    {
        "id": "eff0a9146dc7e1d8",
        "type": "ui_text",
        "z": "e174bcfe10e8a036",
        "group": "2141de946bbe142d",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Motor",
        "format": "{{msg.payload ? \"🟢 RUNNING\" : \"🔴 STOPPED\"}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 530,
        "y": 740,
        "wires": []
    },
    {
        "id": "7eab207b057d8c2e",
        "type": "debug",
        "z": "e174bcfe10e8a036",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 660,
        "wires": []
    },
    {
        "id": "c46b46f52a04886f",
        "type": "delay",
        "z": "e174bcfe10e8a036",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 320,
        "y": 860,
        "wires": [
            [
                "983cf0ce2d3278b7"
            ]
        ]
    },
    {
        "id": "458d698ae2b5409b",
        "type": "mqtt in",
        "z": "e174bcfe10e8a036",
        "name": "",
        "topic": "mqtt",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f3f07126786e39b5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 380,
        "wires": [
            [
                "6cfc14bd16252afe"
            ]
        ]
    },
    {
        "id": "6cfc14bd16252afe",
        "type": "debug",
        "z": "e174bcfe10e8a036",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 380,
        "wires": []
    },
    {
        "id": "25c124dbc61aecaa",
        "type": "ui_group",
        "name": "Controls",
        "tab": "990bc1ed47f93d41",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "2141de946bbe142d",
        "type": "ui_group",
        "name": "Machine Status",
        "tab": "990bc1ed47f93d41",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "f3f07126786e39b5",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "990bc1ed47f93d41",
        "type": "ui_tab",
        "name": "Conveyor Sorting System",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "43f503b2d7cc6f26",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]